#layout1{
    border:1px solid #d3d3d3;
    }
    #subcanvas{
    border:1px solid #d3d3d3;
    }
    
    .crope-image{
    border:1px solid #d3d3d3;
    }
    
    .male{
        background-color: red;
    }
    .female{
        background-color:yellow;
    }

    .red{
        color: white;
        background-color: red;
    }
    .blue{
        color: white;
        background-color:blue;
    }
    .green{
        color: white;
        background-color: green;
    }
    
    .yellow{
        color:black;
        background-color: yellow;
    }
    .black{
        color: white;
        background-color: black;
    }
    