<!-- <app-top-nav (sendtodata)="receivData($event)"></app-top-nav>
<button (click)="submit()">submit</button>


<p [ngClass]="{
    red:highlitcolor==='red',
    blue:highlitcolor==='blue',
    green:highlitcolor==='green'}">enter content</p>

<button (click)="highlight('green')">green</button>
<button (click)="highlight('blue')">blue</button>
<button (click)="highlight('red')">red</button>


<p [ngStyle]="{
    color:istoggle===true ? 'white':'black',
    'background-color':istoggle===true?'yellow':'green'}">enter ngstyle content</p>

<button (click)="toggle()">toggle</button>




<table>
    <tr *ngFor="let data of studentData">
        <td>
            {{data.string}}
        </td>
        <td>
            {{data.age}}
        </td>

    </tr>
</table>


<p [ngClass]="{
    yellow:testcolor==='yellow',
    black:testcolor==='black'
}"> test content</p>

<button (click)="colorchange('yellow')">yellow</button>
<button (click)="colorchange('black')">black</button>



<p [ngStyle]="{color:ngtest ===true ?'green':'blue'}">ngstyle Content</p>
<button (click)="clickfn()">ngcolor</button>

<form #loginForm="ngForm">

    <input #username="ngModel" [(ngModel)]="firstname" name="username" required>

    <div *ngIf="username.invalid && (username.dirty||username.touched)" style="color: red">
        <small *ngIf="username.errors">
            First Name is required.
        </small>
    </div>
<button (click)="saveFunction()">sasve</button>
</form> -->







<button (click)="saveFunction()">save</button><br><br>

<button (click)="cancelFunction()">cancel</button>

